* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #ccffcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.4s ease;
  padding-top: 60px;
}

.dog-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}

/* Toggle switch */
.toggle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px; width: 26px;
  left: 4px; bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.toggle-labels {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 8px;
  font-size: 14px;
  color: #444;
}

#alertMessage {
  height: 20px; /* фиксированная высота */
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-weight: bold;
  margin-top: 12px;
}

#timeRemaining {
  color: #555;
  font-size: 14px;
  margin-top: 4px;
 text-align: center;
}
